<h1><%="#{@player_1.name} v #{@player_2.name}"%></h1><br>
<div>
  <%=@player_1.name%> HP: 50
  <form action="/attack" method="get">
    <input type="submit" name="Attack" value="Attack!"><br>
  </form>
  <%="#{@player_2.name} HP: #{@player_2.hp}"%><br>
</div>